button{
    margin-left: 50px;
    width: 150px;
}
.panel-heading{
    margin-left: 50px;
}


img{
    width: fit-content;
    height: fit-content;
    position:relative;
    margin-left: 25%;
}
.container{
    background-color: rgb(95, 147, 175);
    margin: auto;
    width: 70% !important; 
}
#devbutton{
    margin-left: 30%;
}
button{
    width:20%;
    margin-bottom: 30px;
}
label{
    margin-left: 30px; 
}
#userinput,textarea{
    background-color: rgb(194, 209, 221);
    font-size: medium;
    width: 55%;
    margin-left: 30px;
}
#isavailableinput{
    width: 15px;
    background-color: rgb(194, 209, 221);
    margin-left: 10px;
}
p{
    font-size: large;
}
checkbox{
    margin-bottom: 50px;
}


