
  <div class="card">
    <div class="card-header text-center">
    <h2>Welcome</h2>
    </div>
    
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center"> 
          <img src="https://i.ibb.co/VtV3N9j/xd.jpg "
          class="img-responsive center-block card-img-top"
               style="max-height:300px;padding-bottom:50px" />
         </div> 
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Administrator</h3>
        </div>
  
        <div class="text-center">@administrator</div>
        <div class="text-center">
          <a href="http://www.microsoft.com">www.microsoft.com</a>
        </div>
      </div>
    </div>
  </div>  


