.container{
    margin: 60px;
    padding: 0;
 

}

.navbar-custom{
    background-color: #42568a!important;
}
.nav-link ,.navbar-brand{
    color:#ddd;
    margin-left: 0%;
}
.btn-primary{
    background-color: #42568a!important;
    border-color: #42568a;
}
.btn{
    background-color: #42568a!important;
   
}
.fas{
    color: #a7a9ae!important;
}
#total{
    margin-left: 5px;
   margin-top: 10px;
}
.brand{
    margin-left: 5%;
}
.navbar-nav{
    margin-right: 2%;
}
