button {
    margin-left: 20%;
margin: 20px;
    width: 15%;
    margin-bottom: 70px;

}
label{
    margin-left: 15px; 
    font-weight: bold;
    font-size: small;
}
form {
    background-color: rgb(95, 147, 175);
    width: 70%;
    margin-bottom: 5em;
    margin-top: 5em;
    padding-top: 20px;
 
}

input,#productinput {
    background-color: rgb(194, 209, 221);
    margin-left: 10px;
    width: 90%;
}

.form-control {
    margin-left: 10px;
    margin-right: 10px;
}

