 <div class="container  my-5"> 
    <h3 class="mb-3">Edit Product</h3>
    <form #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
            <label for="productinput" class="form-label">ID</label>
            <input type="text" class="form-control" id="productinput" readonly name="id" [(ngModel)]='productid'
                placeholder="Max Muster">
        </div>
   
        <div class="mb-3">
            <label for="productinput" class="form-label">Name</label>
            <input type="text" class="form-control" id="productinput" name="productName"  required [(ngModel)]='productDetails.title'
            (ngModelChange)="onChange($event)" placeholder="productName">
        </div>
        <div class="mb-3">
            <label for="productinput" class="form-label">Description</label>
          <!--   <textarea class="form-control rounded-0" id="description" rows="3" [(ngModel)]='productDetails.description'
          (ngModelChange)="onChange($event)"></textarea> -->
             <input type="text" class="form-control" id="productinput" name="description"  required [(ngModel)]='productDetails.description'
            (ngModelChange)="onChange($event)"  placeholder="XXXXXXX" > 
        </div>
        <div class="mb-3">
            <label for="productinput" class="form-label">Product Image</label>
            <input  type="text" class="form-control" id="productinput" name="productImg"  required [(ngModel)]='productDetails.image'
            (ngModelChange)="onChange($event)"  placeholder="+00 0000000">
        </div>
        <div class="mb-3">
            <label for="productinput" class="form-label">Price</label>
            <input  type="number" step="0.01" class="form-control" id="productinput" name="price"
            (ngModelChange)="onChange($event)"  required  [(ngModel)]='productDetails.price' placeholder="1000">
        </div>
       
        
        <button type="submit" class="btn btn-primary" [disabled]="!modelchanged">Save</button>
        <button type="button" class="btn btn-danger ms-3" (click)="deleteProduct()" >Delete</button>
        
    </form>
</div>  

 
